@model SageHackbarthFinal.Models.CustomerModel

<html>
<head>

</head>
<body>
	<div>
		<div>
			@Html.DropDownListFor(m => m.Customers, new SelectList(Model.Customers, "Username", "Name"), "SelectCustomer")
		</div>
	</div>
</body>
</html>
